@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.banner {
    background-image: url(images/lucy1.png);
    width: 100%;
    height: 100%;
    background-position: center center;
}

h1 {
    background-color: #7755cf;
}
h2{
    text-align: center;
}

p {
    padding: 1rem;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}
a{
    color: #37b055;
}
table,td,tr,th {
    margin: 0 auto; /* Centers the table horizontally */
    border: 1px solid #1d1d21;
    border-collapse: collapse;
    text-align: center;
    padding: 1rem;
}

.responsive-image{
    max-width: 100%;
}
